@model CadastroFornecedor.Models.Cadastro

@{
	ViewData["Title"] = "Criar Fornecedor";
}

<h1>Criar Fornecedor</h1>

	<h4>Fornecedor</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="RazaoSocial" class="control-label"></label>
					<input asp-for="RazaoSocial" class="form-control" />
					<span asp-validation-for="RazaoSocial" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="NomeFantasia" class="control-label"></label>
					<input asp-for="NomeFantasia" class="form-control" />
					<span asp-validation-for="NomeFantasia" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Telefone" class="control-label"></label>
					<input asp-for="Telefone" class="form-control" />
					<span asp-validation-for="Telefone" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Endereco" class="control-label"></label>
					<input asp-for="Endereco" class="form-control" />
					<span asp-validation-for="Endereco" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Contato" class="control-label"></label>
					<input asp-for="Contato" class="form-control" />
					<span asp-validation-for="Contato" class="text-danger"></span>
				</div>

				<div class="form-group" style="padding-top:10px">
					<input type="submit" value="Inserir" class="btn btn-primary btn-sm" />
					<a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
				</div>
			</form>
		</div>
	</div>